html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.background-image{
  background-image: url(/images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-top-right-radius: 1;
  border-top-left-radius: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.middle{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 1;
  border-bottom-right-radius: 1;
}  

.btn {
    margin-top: 2rem;
  }
